header .profile-pic {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    transition: all .5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1.5rem;
  }

header .github-icon, .linkedin-icon {
    width: 25px;
    height: 25px;
    padding: 10px;
}

header .credly-icon {
    width: 50px;
    height: 25px;
    padding: 10px;

}

hr {
    color: #9297ac;
}
body {
    margin: 1rem;
    color: #9297ac;
    background: #0c0c14;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    line-height: 1.5;

} 

h1 {
    color: #8ed048;
    text-align: center;
    font-size: 3rem;
}

h2 {
    margin-top: -2rem;
    text-align: center;
    font-size: 2rem;
    color: whitesmoke;
}

h3{
    color: #8ed048;
    font-size: 1.5rem;
}

.company, .projects {
    color: #36a9c6;
    font-size: 1.125rem
}

.job-title, .technologies {
    color: whitesmoke;
}

ul li {
    list-style: square;
}

#counterScript {
    color: #36a9c6;
    text-align: center;
}

footer .github-icon, .linkedin-icon {
    width: 25px;
    height: 25px;
    padding: 10px;
}

footer .credly-icon {
    width: 50px;
    height: 25px;
    padding: 10px;

}